@import './settings';
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

.horizontal-scroll-row {
  white-space:nowrap;
  overflow-x:scroll;
  a {
    display: inline-block;
  }
}

.column-centered-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.push-down {
  margin-bottom: 2rem;
}
.push-down-small {
  margin-bottom: 1rem;
}
.push-down-large {
  margin-bottom: 3rem;
}
.push-down-xlarge {
  margin-bottom: 5rem;
}
.push-down-xxlarge {
  margin-bottom: 7rem;
}
.push-down-xxxlarge {
  margin-bottom: 10rem;
}
.push-down-xxxxlarge {
  margin-bottom: 15rem;
}
.push-down-xxxxxlarge {
  margin-bottom: 20rem;
}
.pull-down {
  padding-top: 2rem;
}
.pull-down-small {
  padding-top: 1rem;
}
.pull-down-large {
  padding-top: 3rem;
}
.pull-down-xlarge {
  padding-top: 5rem;
}
.pull-down-xxlarge {
  padding-top: 7rem;
}
.pull-down-xxxlarge {
  padding-top: 10rem;
}
.pull-down-xxxxlarge {
  padding-top: 15rem;
}
.pull-down-xxxxxlarge {
  padding-top: 20rem;
}
.shift-down {
  margin-top: 2rem;
}
.shift-down-small {
  margin-top: 1rem;
}
.shift-down-xsmall {
  margin-top: .5rem;
}
.shift-down-large {
  margin-top: 3rem;
}
.shift-down-xlarge {
  margin-top: 5rem;
}
.push-left {
  margin-left: 2rem;
}
.push-left-small {
  margin-left: 1rem;
}
.push-left-large {
  margin-left: 3rem;
}
.push-right {
  margin-right: 2rem;
}
.push-right-small {
  margin-right: 1rem;
}
.push-right-large {
  margin-right: 3rem;
}

.padded {
  padding: .5rem
}
.padded-large {
  padding: 1rem
}
.padded-xlarge {
  padding: 2rem
}
.padded-xxlarge {
  padding: 4rem
}
.padded-top {
  padding-top: .5rem;
}
.padded-top-large {
  padding-top: 1rem;
}
.padded-bottom {
  padding-bottom: .5rem;
}
.padded-bottom-large {
  padding-bottom: 1rem;
}
.left-padded {
  padding-left: 1rem;
}
.left-padded-large {
  padding-left: 2rem;
}
.left-padded-xlarge {
  padding-left: 3rem;
}
.right-padded {
  padding-right: 1rem;
}
.right-padded-large {
  padding-right: 2rem;
}
.right-padded-xlarge {
  padding-right: 3rem;
}
.bordered-light {
  border: 2px solid $light-gray;
}
.border-top {
  border-top: 2px solid;
}
.border-right {
  border-right: 2px solid;
}
.border-bottom {
  border-bottom: 2px solid;
}
.border-left {
  border-left: 2px solid;
}
.border-gray {
  border-color: $dark-gray;
}
.no-margin {
  margin: 0;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.button-go-back {
  margin-top: 1rem;
  @extend .pull-down-small, .push-down-small, .button, .secondary, .hollow;
}
.button-light {
  @extend .button, .hollow;
  border: 1px solid $white;
}
.button-light:hover {
  color: $secondary-color;
  border: 1px solid $light-gray;
}

.no-border {
  border: none !important;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  display: inline-block;
  font-size:2.5em;
  height: 1em;
  line-height: 1;
  margin: .75em;
  animation: anim-rotate 2s infinite linear;
  color: #fff;
  text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

.temporary-notifications {
  position: fixed;
  right: 1em;
  top: 1rem;
  width: 85%;
  max-width: 300px;
  z-index: 999999;  /* this needs to be bigger than the homepage boxes */
}
.temporary-alert {
  /* FIXME: animate fadein and fadeout */
  clear: both;
  width: 100%;
  margin-bottom: 5px;
  pointer-events: auto;

  @extend .float-right, .callout;
}
.temporary-alert-error {
  @extend .alert;
}
.temporary-alert-warning {
  @extend .warning;
}
.temporary-alert-success {
  @extend .success;
}

.circle-background-text {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  padding: .25rem;
  /*background-color: $white;*/
  line-height: 1rem;
}

.top-bar {
  color: $white;
  a, a:visited {
    color: $white;
  }
  a:hover, a:focus, a:active {
    color: $medium-gray;
  }
  ul ul {  /* HACK: this is for the upper-right dropdown menus only */
    background-color: $darker-gray;
  }
}
footer {
  color: $white;
  background-color: $darker-gray;

  a, a:visited {
    color: white;
  }
  a:hover, a:focus, a:active {
    color: $medium-gray;
  }
}

.text-centered {  /* FIXME: Foudation already has .text-center */
  text-align: center;
}
.text-white {
  color: $white;
}
.text-red {
  color: $alert-color;
}
.background-dark {
  background-color: $darker-gray;
}
.background-red {
  background-color: $alert-color;
}

.static-page-wrap {
  @extend .row, .column, .small-12, .medium-10, .large-8, .small-centered, .medium-centered, .large-centered, .pull-down;
}

.list-errors {
  @extend .pull-down-small, .push-down-small;
  .list-item {
    background: $light-gray;
    color: $alert-color;
    font-size: .625rem;
    margin-bottom: 1px;
    padding: .75rem;
  }
}

.text-small {
  font-size: .8rem;
}
.text-large {
  font-size: 1.2rem;
}
.text-xlarge {
  font-size: 1.5rem;
}
.text-xxlarge {
  font-size: 1.8rem;
}
.text-xxxlarge {
  font-size: 2.25rem;
}
.text-xxxxlarge {
  font-size: 2.5rem;
}
.text-xxxxxlarge {
  font-size: 3rem;
}
.text-xxxxxxlarge {
  font-size: 3.5rem;
}
.text-xxxxxxxlarge {
  font-size: 4rem;
}
.text-xxxxxxxxlarge {
  font-size: 5rem;
}
.half-width {
  width: 50%;
}

div.hoverable {
  background-color: $white;
  -o-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;


}
div.hoverable:hover {
  background-color: $super-light-gray;
}

#chat-window-messages-scrollable-wrap {
  position: relative;
}
#chat-window-messages-scrollable {
  overflow-y: scroll;
  background-color: $light-gray;

  .chat-message {
    width: 40%;
    margin: 0 1rem;
    background-color: $white;
  }
  .chat-message-mine {
    float: right;
  }
  .chat-message-not-mine {
    float: left;
  }

  .has-new-messages-indicator {
    display: none;
  }
}
#chat-window-messages-scrollable.has-new-messages {
  .has-new-messages-indicator {
    /* TODO: fade in */
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 2.5rem;
    @extend .padded, .text-centered;

    :hover {
      color: $dark-gray;
    }
  }
}

p.chat-message-delete:hover {
  color: $medium-gray;
}

.font-handwriting {
  /*font-family: $body-font-family-handwriting;*/
}
.font-oswald {
  font-family: $body-font-family-special;
  /*text-transform: lowercase;*/
}
.font-truenorth {
  font-family: 'true_northregular', $body-font-family-special;
}

.menu-icon {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  cursor:pointer;
  width:20px;
  height:16px;
  z-index: 99999;
}
.menu-icon::after {
  content:'';
  position:absolute;
  display:block;
  width:100%;
  height:2px;
  background:#fefefe;
  top:0;
  left:0;
  box-shadow:0 7px 0 #fefefe,0 14px 0 #fefefe
}
.menu-icon:hover::after {
  background:#cacaca;
  box-shadow:0 7px 0 #cacaca,0 14px 0 #cacaca
}

h1 {
  @extend .font-truenorth;
}
h2 {
  @extend .font-truenorth;
  letter-spacing: -.02em;
}
h3, h4, h5, h6 {
  @extend .font-oswald;
}

p, li, span, h1, h2, h3, h4, h5, h6 {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.left-border-light {
  border-left: solid .2rem $light-gray;
}
.right-border-light {
  border-right: solid .2rem $light-gray;
}

.pop-out-text {
  background-color: $white;
  padding: .5rem;
}

.skyline-image {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.photo-tiles-wrap img {
  max-height: 450px;  /* the Cloudinary transformations should make them normally fit, so just keep this number within reason. */
}

.username-tag {
  color: $black;
  font-weight: bold;
}
.username-tag:hover { color: $darker-gray-2;  }

.email-suggestion {
  @extend .padded-large;
  color: $darker-gray-2;
  background-color: beige;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.display-block {
  display: block;
}

ul.select-box {
  @extend .text-centered;
  list-style-type: none;
  border-top: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;

  margin-left: 0;
  margin-right: 0;

  @extend .font-truenorth;

  li {
    padding: 1rem;
    border-bottom: 1px solid $medium-gray;
  }
  li:hover {
    background-color: $super-light-gray;
  }
  li.selected {
    color: $white;
    background-color: #5a97c4;  /* fixme: how to pull "primary" from settings.scss? */
  }
  li.selected:hover {
    background-color: #5a97c4;
  }
}

.slider {
  width: 94%;
  margin-left: 3%;
}


/* Pikaday extra stuff (hacky...) */
.pika-single {
  width: 400px;
  background-color: #f0f0f0;
  padding: 1rem;
}
.pika-prev {
  float: left;
  margin-bottom: 1rem;
}
.pika-next {
  float: right;
  margin-bottom: 1rem;
}
.pika-table {
  width: 390px;
  text-align: left;
}

/* Homepage project boxes */
.homepage-projects-column {
  background-color: $white;
  position: relative;
  overflow: hidden;
  padding: 0;

  transition: background-color 250ms ease;
  img {
    filter: brightness(1);
    transition: filter 250ms ease;
  }
}
.homepage-project-title {
  @extend .font-truenorth, .text-centered, .text-xxxxxxxlarge;
  color: white;
  position:absolute;
  line-height:1em;
  width: 100%;
  padding: .5em;
  left: 0;
  opacity:0;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.homepage-project-title.normal-text {
  text-align: center;
  //text-overflow: ellipsis;  //not working for some reason (probably because the container doesn't have its width specified in pixels)
}
.homepage-project-title.spill-text {
  -ms-word-break: break-all;
  word-break: break-all;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  top:0;
  text-align: left;
}
.homepage-projects-column:hover .homepage-project-title {
  opacity:1;
  transition: opacity 250ms ease;
}
.homepage-projects-column:hover {
  background-color: #aaaaaa;
  transition: background-color 250ms ease;
  img {
    filter: brightness(.4);
    transition: filter 250ms ease;
  }
}

.hero-img-container {
  width: 100%;
  max-height: 430px;
  overflow: hidden;
  img {
    margin-top: -16%;
  }
}

figcaption {
  font-weight:bold;
  @extend .text-small;
}


.press-page-row {
  a {
    color: $black;
    transition: color 250ms ease;
  }
  img {
    transition: opacity 250ms ease;
  }
}
.press-page-row:hover {
  a {
    color: $darker-gray-2;
    transition: color 250ms ease;
  }
  img {
    opacity:.85;
    transition: opacity 250ms ease;
  }
}


.month-selector-wrap {
  float: right;
}

.event-calendar-container {
  .calendar-box-link {
    color: $black;
  }
  .calendar-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    min-height: 120px;  /* guesstimate */

    /*
      NOTE: width and height are set by JS
    */
  }
  .calendar-date-box {
    border: 1px solid $darker-gray;
    background-color: $white;
    transition: background-color 200ms ease;
    overflow: hidden;
    position: relative;

    span {
      padding: 1rem;
    }

    .upper-number {
      float: right;
      padding: .5rem;
    }

    .content {
      float: left;
      clear: both;
      padding: .5rem;
      z-index: 99;

      .truncate-event-name {
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;

        .calendar-box-single-listing {
          color: $black;
          font-weight: bold;
          padding-bottom: .2rem;
          border-bottom: 1px solid rgba(150, 150, 150, 0);
          transition: border 200ms ease;
        }
        .calendar-box-single-listing:hover {
          border-bottom: 1px solid rgba(150, 150, 150, 1);
        }
      }
    }

    .more-events-button {
      position: absolute;
      width: 100%;
      font-weight: bold;
      border: 1px solid $medium-gray;
      background-color: $white;
      color: #5a97c4;
      text-align: center;
      padding-top: .25rem;
      padding-bottom: .25rem;
      bottom: 0px;
      z-index: -999;

      opacity: 0.0;
      transition: opacity 200ms ease;
    }
  }
  .calendar-gray-box {
    border: 1px solid $darker-gray;
    background: $light-gray;
  }

  .calendar-date-box:hover {
    background-color: $super-light-gray;
    transition: background-color 200ms ease;

    .more-events-button {
      z-index: 9999;

      opacity: 1.0;
      transition: opacity 200ms ease;
      transition-delay: 750ms;
    }
    .more-events-button:hover {
      color: #395777;  /* NOTE: this is just a darker version of our primar color */
      transition: color 200ms ease;
    }
  }
}
.event-calendar-container-small {
  display: none;
}

.add-event-button-large {
  display: block;
  a {
    color: white;
  }
}
.add-event-button-small {
  display: none;
}


.documentation-page {
  position: relative;

  .left-sidebar {
    /*position: fixed;*/
    top: 0;  /* NOTE: this will be corrected via JS */
    right: auto;
    bottom: 0;
    left: 0;
    float: left;
    padding: 1rem;
    width: 240px;  /* todo: de-magic this number */
    height: auto;  /* NOTE: this will be set to the height of .content via JS */
    min-height: 350px;
    background: #f8f8f8;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 2;

    li.highlighted a {
      color: $dark-gray;
    }
  }
  .content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: 260px;
    z-index: 2;
  }
}

ul.unstyled-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}

.ingredients-list {
  .ingredient-item {
    margin: .5rem .15rem;
    padding: .25rem .35rem;
    background: $dark-gray;
    color: $white;
    display: inline-block;
    font-weight: bold;

    transition: background-color ease 200ms;
  }
  .ingredient-item:hover {
    background-color: $darker-gray-2;

    transition: background-color ease 200ms;
  }
}

.overflow-hidden {
  overflow: hidden;
}


//FIXME: use scss breakpoints instead of hard numbers
/* "large" only */
@media screen and (min-width: 1200px) {
  .hero-img-container {
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    img {
      margin-top: -20%;
    }
  }
}

/* "small" only */
@media screen and (max-width: 39.9375em) {
  .clearfix-small {
    clear: both;
  }

  #chat-window-messages-scrollable .chat-message {
    width: 80%;
  }

  .pattern-diagonal .pop-out-text {
      padding: .75rem;
  }

  .small-push-down {
    margin-bottom: 1rem;
  }

  .skyline-image {
    transform: translateY(0%);
  }

  .horizontal-scroll-row {
    img {
      max-height: 150px;
    }
  }

  .homepage-project-title {
    font-size:3.5rem;
  }
  .homepage-project-title.spill-text {
    top: 10%;
  }
  /* don't force hover on mobile to see the project title text */
  .homepage-projects-column .homepage-project-title {
    opacity:1;
  }
  .homepage-projects-column {
    background-color: #aaaaaa;
    img {
      filter: brightness(.5);
      transition: filter 250ms ease;
    }
    transition: background-color 250ms ease;
  }
  .homepage-projects-column:hover {
    background-color: #999999;
    img {
      filter: brightness(.3);
      transition: filter 250ms ease;
    }
    transition: background-color 250ms ease;
  }

  .hero-img-container {
    max-height: 400px;
    img {
      margin-top: 0px;
    }
  }

  .month-selector-wrap {
    float: none;
  }
  .event-calendar-container {
    display: none;
  }
  .event-calendar-container-small {
    display: block;

    .date-box {
      padding: .75rem;
      background-color: #5a97c4;
      color: $white;
      font-weight: bold;
      margin: .5rem 0;
      font-size: 1.2rem;

      transition: background-color 200ms ease;
    }
    .date-box:hover {
      background-color: #395777;  /* NOTE: this is just a darker version of our primar color */
      transition: background-color 200ms ease;
    }

    .content {
      .calendar-small-single-listing {
        color: $black;
        font-weight: bold;
        padding-bottom: .2rem;
        border-bottom: 1px solid rgba(150, 150, 150, 0);
        transition: border 200ms ease;
      }
      .calendar-small-single-listing:hover {
        border-bottom: 1px solid rgba(150, 150, 150, 1);
      }
    }
  }
  .add-event-button-large {
    display: none;
  }
  .add-event-button-small {
    display: block;
    a {
      color: white;
    }
  }

  .small-no-border {
    border: none;
  }

  .documentation-page {
    .left-sidebar {
      width: 100%;
      height: 15rem !important;
      min-height: 0;
      top: 0 !important;
      margin-bottom: 2rem;
      border-left: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
      border-top: 1px solid $medium-gray;
      border-bottom: 3px solid $dark-gray;
    }
    .content {
      margin-left: 0;
    }
  }
}