@import './settings';
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;

.horizontal-scroll-row {
  white-space:nowrap;
  overflow-x:scroll;
  a {
    display: inline-block;
  }
}

.push-down {
  margin-bottom: 2rem;
}
.push-down-small {
  margin-bottom: 1rem;
}
.push-down-large {
  margin-bottom: 3rem;
}


input.padded, textarea.padded {
  padding: .5rem
}