<template name="App_notAuthorized">
    <div class="static-page-wrap pull-down-xxxxlarge push-down-xxxxxlarge">
        <nav>
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
            </div>
        </nav>

        <div class="content-scrollable">
            <div class="wrapper-message">
                <div class="title-message text-centered"><h6>{{_ 'Sorry, you are not authorized to view this page'}}</h6></div>
            </div>
        </div>
    </div>
</template>