<template name="footer_card">
    <footer>
        <div class="row pull-down-large font-truenorth">
            <div class="column push-down-large small-12 medium-10 large-8 medium-centered large-centered">
                <div class="row column push-down">
                    <a href="{{pathFor 'static.home'}}">home</a> |
                    <a href="{{pathFor 'static.about'}}">about</a> |
                    <a href="{{pathFor 'static.make'}}">make</a> |
                    <a href="{{pathFor 'static.howto'}}">how to</a> |
                    <a href="{{pathFor 'static.support'}}">support</a> |
                    <a href="{{pathFor 'static.policies'}}">policies</a> |
                    <a href="{{pathFor 'static.feedback'}}">feedback</a>
                    <!--<a href="https://github.com/flippedart" target="_blank">open source</a>-->
                </div>
                <div class="row column" style="position:relative;">
                    <div class="float-left">
                        <p>
                            Made with <i class="fi-heart"></i> in Des Moines.
                            <br>
                            {{currentYear}} - Flipped Art
                        </p>
                    </div>
                    <div class="" style="position:absolute;right:0px;bottom:0px;">
                        <p class="text-xlarge">
                            <a href="https://www.facebook.com/flippedartexchange" target="_blank">
                                <i class="fi-social-facebook"></i>
                            </a>
                            <span style="padding-left:.3rem;"></span>
                            <a href="https://www.instagram.com/flipped_art/" target="_blank">
                                <i class="fi-social-instagram"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>