<template name="footer_card">
    <footer>
        <div class="row pull-down-large font-oswald">
            <div class="column push-down-large small-12 medium-8 large-6 medium-centered large-centered">
                <div class="row column push-down">
                    <!--<ul class="menu horizontal">-->
                        <a href="{{pathFor 'static.about'}}">about</a> |
                        <a href="{{pathFor 'static.make'}}">make art</a> |
                        <a href="{{pathFor 'static.howto'}}">how to</a> |
                        <a href="{{pathFor 'static.donate'}}">donate</a> |
                        <a href="{{pathFor 'static.policies'}}">policies</a> |
                        <a href="https://github.com/flippedart" target="_blank">open source</a>
                    <!--</ul>-->
                </div>
                <div class="row column">
                    <div class="float-left">
                        <p>
                            Made with <i class="fi-heart"></i> in Des Moines.
                            <br>
                            {{currentYear}} - Flipped Art
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>