<template name="footer">
    <footer>
        <hr>
        <div class="footer-container">
            <p>
                <!--<a href="{{pathFor 'chronologicalUserPosts' username='alex'}}">(alex's page)</a>-->
            </p>
            <p>
                <a href="{{pathFor 'myAccount'}}">my account</a> &#8226;
                <a href="{{pathFor 'aboutpage'}}">about</a> &#8226;
                <a href="{{pathFor 'makeyourownpage'}}">make your own</a> &#8226;
                <a href="{{pathFor 'feedback'}}">feedback</a> &#8226;
                <a href="{{pathFor 'policies'}}">policies</a>
            </p>
            <p>
                Flipped Art is free to use, built and maintained
                as a side project by
                <a href="http://alexpete.me" target="_blank">Alex Peterson</a>.
            </p>
            <p>
                {{currentYear}} - Flipped Art
            </p>
        </div>
    </footer>
</template>