<template name="temporary_notifications">
    <div class="temporary-notifications">
        {{#each temporaryNotifications}}
            {{> temporary_notification_single}}
        {{/each}}
    </div>
</template>

<template name="temporary_notification_single">
    <div class="temporary-alert temporary-alert-{{type}}">
        <button class="temporary-alert-close column small-2 column-centered-vertical">
            <i class="fi-x"></i>
        </button>
        <p class="column small-10">
            {{message}}
        </p>
    </div>
</template>