<template name="comment_submit">
    <div class="row">
        <div class="small-10 medium-8 large-8 small-centered medium-centered large-centered columns">
            <form name="comment" class="comment-submit-form form">
                <div class="form-group">
                    <div class="controls">
                        <textarea name="text" type="text" class="form-control" rows="3" placeholder="Comment on this post" maxlength="5000"></textarea>
                    </div>
                </div>
                <button type="submit" class="button float-right">Add comment</button>
            </form>
        </div>
    </div>
</template>
