<template name="comment_card">
    <h2>Comment card.</h2>
    <li>
        {{#if ownComment}}<button class="btn comment-edit">Edit</button>{{/if}}

        {{#if showCommentEdit}}
            {{> comment_edit }}
        {{else}}
            <span class="date pull-right">{{timeToMinutes createdAt}}</span>

            <p class="author shift-down">
                <a href="{{pathFor 'chronologicalUserPosts' username=author}}">{{author}}</a>
                said:
            </p>

            {{#unless inappropriate}}
                <p class="push-down-sm">{{text}}</p>
            {{else}}
                <h3>[This post has been flagged as inappropriate]</h3>
            {{/unless}}

            <br>
            <a href="#" class="flag btn btn-default pull-right {{flaggedClass}}">
                {{#if userHasFlagged}}flagged{{else}}flag{{/if}}
            </a>

        {{/if}}
    </li>
</template>