<template name="comment_card">
    <div class="row column">
        {{#if ownComment}}
            <button class="button float-right comment-edit"><i class="fi-pencil"></i></button>
        {{/if}}
        {{#unless ownComment}}
            {{#if currentUser}}
                <a href="#" class="flag button primary float-right {{flaggedClass}}">
                    {{#if userHasFlagged}}flagged{{else}}flag{{/if}}
                </a>
            {{/if}}
        {{/unless}}

        {{#if showCommentEdit}}
            {{> comment_edit }}
        {{else}}
            <p class="author shift-down">
                {{#unless ownComment}}
                    <a href="{{pathFor 'profile.page' username=author}}">{{author}}</a>
                {{else}}
                    You
                {{/unless}}
                said:
            </p>

            {{#unless inappropriate}}
                <p class="push-down-sm">{{text}}</p>
                <p><span class="date">{{dateTimeAgo createdAt}}</span></p>
            {{else}}
                <h3>[This comment has been flagged as inappropriate]</h3>
            {{/unless}}

            <br>

        {{/if}}
    </div>
</template>