<template name="comment_submit">
    <div class="row">
        <div class="small-10 medium-8 large-8 small-centered medium-centered large-centered columns">
            <form name="comment" class="comment-submit-form form">
                <div class="">
                    <div class="">
                        {{#textareaAutocomplete settings=settings required="true" name="text" placeholder="Comment on this post" maxlength="2500" type="text" rows="3"}}{{/textareaAutocomplete}}
                    </div>
                </div>
                <button type="submit" class="button float-right">Add comment</button>
            </form>
        </div>
    </div>
</template>
