<template name="event_calendar_single_date_page">
    <div class="row pull-down push-down">
        <div class="column small-12 medium-10 large-10 medium-centered large-centered push-down-xlarge">
            <h2 class="push-down text-centered">Happening on {{eventDateString}}</h2>

            {{#each events}}
                <h5>
                    {{this.eventName}}
                </h5>
                <p>
                    Where: {{this.location}}
                </p>
                <p>
                    From {{this.startTime}} &ndash; {{this.endTime}}
                </p>

                <a href="{{
                            pathFor 'eventCalendar.singleEvent'
                            MMDDYY=this.eventDate
                            eventName=this.eventName
                            nameSlug=this.nameSlug}}">

                    <p class="button primary hollow row column small-12 medium-4">
                        <strong>More details</strong>
                        &nbsp;&nbsp;
                        <i class="fi-arrow-right text-small"></i>
                    </p>
                </a>

                <hr>
            {{else}}
                <p class="text-large text-centered pull-down push-down-xxxxxlarge">
                    There are no events scheduled for today.
                </p>
            {{/each}}
        </div>
    </div>
</template>
