<template name="event_calendar_single_event_page">
    <div class="row pull-down push-down">
        <div class="column small-12 medium-10 large-10 medium-centered large-centered">

            <h1>{{eventName}}</h1>
            <p>
                {{event._id}} |
                {{event.eventName}} |
                {{event.eventDate}} |
                {{event.startTime}} |
                {{event.endTime}} |
                {{event.description}} |
                {{event.location}} |
            </p>
            <p>Event calendar single event placeholder</p>

            {{#if ownEvent}}
                <a href="{{pathFor 'eventCalendar.singleEvent.edit' MMDDYY=event.eventDate eventName=event.eventName nameSlug=event.nameSlug}}">EDIT</a>
            {{/if}}
        </div>
    </div>
</template>