<template name="event_calendar_page">
    <div class="row pull-down push-down">
        <div class="column small-12 medium-12 large-12 medium-centered large-centered">

            <div class="row column push-down">
                <h1 class="column">
                    Community Events
                </h1>
            </div>

            <div class="row column pull-down">

                <div class="column small-12 medium-4 large-5 push-down-large">
                    <ul class="select-box">
                        <li class="{{#unless isPastSelected}}selected{{/unless}}">
                            <a href="{{pathFor 'eventCalendar.upcoming'}}">
                                Upcoming events
                            </a>
                        </li>
                        <li class="{{#if isPastSelected}}selected{{/if}}">
                            <a href="{{pathFor 'eventCalendar.past'}}">
                                Past events
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="column small-12 medium-8 large-7 left-padded-xlarge push-down">
                    {{#if isPastSelected}}
                        {{#each event in pastCalendarEvents}}
                            <div class="push-down">
                                {{> event_calendar_single_event_small event}}
                                <!-- FIXME: add date-headers to separate events into groups by date, as in the previous iteration's mobile calendar view. -->
                            </div>
                        {{else}}
                            <strong>No past events</strong>
                        {{/each}}
                    {{else}}
                        {{#each event in upcomingCalendarEvents}}
                            <div class="push-down">
                                {{> event_calendar_single_event_small event}}
                                <!-- FIXME: add date-headers to separate events into groups by date, as in the previous iteration's mobile calendar view -->
                            </div>
                        {{else}}
                            <strong>There are no upcoming events scheduled.</strong>
                        {{/each}}
                    {{/if}}
                </div>

                <div class="column"><!-- closing column due to Foundation bug--></div>
            </div>

            <hr>

            {{> event_calendar_add_wrapper}}

            <div class="column"><!-- closing column due to Foundation bug--></div>
        </div>
    </div>
</template>