<template name="event_calendar_single_event_page">
    <div class="row pull-down push-down">
        <div class="column small-12 medium-8 large-6 medium-centered large-centered pull-down push-down-large">

            <a href="{{pathFor 'eventCalendar.singleDate' MMDDYY=event.eventDate}}"
               class="push-down-large button secondary hollow">
                More events on {{eventDateString}}
            </a>

            <h1 class="push-down">
                {{eventName}}
            </h1>

            <p>
                Where: {{event.location}}
            </p>

            <p>
                From {{event.startTime}} &ndash; {{event.endTime}} on {{eventDateString}}
            </p>

            <p>

                {{relativeTimeCopy event}}
            </p>

            <p class="pull-down-small push-down">
                {{event.description}}
            </p>

            {{#if truthy event.imageLink}}
                <p>
                    <a class="thumbnail"
                       data-lightbox="event-lightbox"
                       href="{{c.url event.imageLink secure=true}}">
                        <img src="{{c.url event.imageLink secure=true}}">
                    </a>
                </p>
            {{else}}
            {{/if}}

            <div class="calendar-event-action-buttons clearfix shift-down-small">
                <div class="float-left">
                    {{#if ownEvent}}
                        <p class="button-group">
                            <a href="{{
                                pathFor 'eventCalendar.singleEvent.edit'
                                MMDDYY=event.eventDate
                                eventName=event.eventName
                                nameSlug=event.nameSlug}}">
                                <i class="button primary fi-pencil"></i>
                            </a>
                            <a class="calendar-event-delete-button">
                                <i class="button alert fi-trash"></i>
                            </a>
                        </p>
                    {{/if}}
                </div>

                <p class="float-right">
                    <a class="button primary hollow no-border share-event-facebook">
                        <i class="fi-share"></i>
                    </a>
                </p>
            </div>

            <p class="clearfix text-small">
                Added by
                <a href="{{pathFor 'profile.page' username=event.authorName}}">
                    <strong>{{event.authorName}}</strong>
                </a>
            </p>
        </div>

        <hr>

        {{> event_calendar_add_wrapper}}

        <div class="column"><!-- closing column due to Foundation bug--></div>
    </div>
</template>