<template name="event_calendar_single_date_page">
    <div class="row pull-down push-down">
        <div class="column small-12 medium-10 large-10 medium-centered large-centered push-down-xlarge">
            <h2 class="push-down-large text-centered">
                Happening on {{eventDateString}}
            </h2>

            {{#each event in events}}
                <div class="push-down">
                    {{> event_calendar_single_event_small event}}
                </div>
            {{else}}
                <p class="text-large text-centered pull-down push-down-xxxlarge">
                    There are no events scheduled for today.
                </p>
            {{/each}}

            <p class="button-group expanded pull-down-large">
                <a href="{{pathFor 'eventCalendar.singleDate' MMDDYY=yesterdayMMDDYY}}"
                   class="button hollow secondary padded-large">
                    <strong>
                        {{yesterdayDateString}}
                    </strong>
                </a>
                <a href="{{pathFor 'eventCalendar.singleDate' MMDDYY=tomorrowMMDDYY}}"
                   class="button hollow secondary padded-large">
                    <strong>
                        {{tomorrowDateString}}
                    </strong>
                </a>
            </p>
        </div>

        <hr>

        <div class="column small-12 medium-10 large-8 medium-centered large-centered">
            &nbsp;  <!-- there's an odd display bug with the Foundation accordion if there is no explicit space or text here. -->
            {{#if currentUser}}
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">
                            Add your own event
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <h2 class="pull-down-small">
                                Add an event
                            </h2>
                            {{> event_calendar_submit}}
                        </div>
                    </li>
                </ul>
            {{else}}
                <p class="text-centered">
                    <a href="{{pathFor 'join'}}">
                        <strong>
                            Sign up
                        </strong>
                    </a>
                    to add an event to the calendar!
                </p>
            {{/if}}
        </div>
        <div class="column"><!-- closing column due to Foundation bug--></div>
    </div>
</template>
