<template name="userPostItem">
    <div class="post">
        <p class="pull-right">{{timeToMinutes createdAt}}</p>
        <p><strong><a href="{{pathFor 'chronologicalUserPosts' username=author}}">{{author}}</a></strong></p>
        {{#unless inappropriate}}
            <h4 class="user-post-body">{{text}}</h4>
            {{#if hasImage}}
                <div class="post-images-list">
                    {{#each imageLinks}}
                        <a href="{{c.url this}}" data-toggle="lightbox" data-type="image">
                            <img src="{{c.url this width=250 height=200 crop='fit'}}"/>
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <h3>[This post has been flagged as inappropriate]</h3>
        {{/unless}}

        <p class="push-down-sm">location: {{location}}</p>

        <a href="#" class="upvote btn btn-default pull-left {{upvotedClass}}">{{#if upvotes}}{{upvotes}}{{else}}0{{/if}} <i class="fa fa-star push-right-xs"></i></a>
        <a href="{{pathFor 'userPostPage' username=author userPostId=_id}}" class="discuss pull-left btn btn-default">{{commentsCount}} {{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'userPostEdit' username=author userPostId=_id}}" class="pull-left btn btn-default">Edit</a>{{/if}}
        <a href="#" class="flag btn btn-default pull-right {{flaggedClass}}">
            {{#if flagged}}flagged{{else}}flag{{/if}}
        </a>
    </div>
</template>