<template name="project_single_card">

    <div class="row column">&nbsp;</div>
    <div class="row">
        <div class="column">
            {{#unless currentUser}}
                <div class="inventory-single-item">

                    <p class="text-large float-right">
                        <a href="{{pathFor 'projects.single' username=ownerName exchangeItemId=_id}}"><i class="fi-link"></i></a>
                    </p>

                    <h4>{{title}}</h4>

                    <div class="row column push-down-small">
                        <p>
                            owned by
                            <a href="{{pathFor 'profile.page' username=ownerName}}">
                                {{ownerName}}
                            </a>
                        </p>
                    </div>

                    <div class="row column push-down-small">
                        <p>
                            {{{description}}}
                        </p>
                    </div>

                    <!-- TODO: a proper orbit/lightbox with Motion-UI -->
                    <div class="project-images-list row column horizontal-scroll-row push-down">
                        {{#each imageLinks}}
                            <a class="thumbnail" data-lightbox="{{../_id}}" href="{{c.url this secure=true}}">
                                <img src="{{c.url this secure=true width=250 height=200 crop='fit'}}">
                            </a>
                        {{else}}
                            <p>No images provided for this project.</p>
                        {{/each}}
                    </div>

                    <div class="row column button-group expanded push-down-small">
                        <p class="button secondary has-tip has-tip-item-card-{{#if locked}}locked{{else}}unlocked{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if locked}}{{tooltipLocked}}{{else}}{{tooltipUnlocked}}{{/if}}">{{#if locked}}Locked{{else}}Unlocked{{/if}}</p>
                        <p class="button secondary has-tip has-tip-item-card-{{#if available}}available{{else}}unavailable{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if available}}{{tooltipAvailable}}{{else}}{{tooltipUnavailable}}{{/if}}">{{#if available}}Available{{else}}Not available{{/if}}</p>
                    </div>

                    {{#if location}}
                        <p class="row column push-down-small">
                            <strong>Located near:</strong> {{location}}
                        </p>
                    {{/if}}

                    {{#if tag}}
                        <p class="row column push-down-small">
                            <strong>Project type:</strong> {{tag}}
                        </p>
                    {{/if}}

                    {{#if addendums}}
                        <p class="row column push-down-small">
                            <strong>Additional details:</strong>
                        </p>
                        {{#each addendumsWithAuthors}}
                            <p class="row column push-down-small">{{this.addendum}} - {{this.author}}</p>
                        {{/each}}
                    {{/if}}

                </div>
            {{else}}
                {{#if isItemOwner}}
                    <div class="inventory-single-item">
                        {{#if showItemEdit}}
                            <button class="button primary float-right item-edit push-left">cancel editing</button>

                            {{> item_edit}}
                        {{else}}
                            <button class="button primary float-right push-left {{editClass}}"><i class="fi-pencil"></i></button>

                            <p class="text-large float-right">
                                <a href="{{pathFor 'projects.single' username=ownerName exchangeItemId=_id}}"><i class="fi-link"></i></a>
                            </p>

                            <h4>{{title}}</h4>

                            <p class="row column push-down-small">
                                You own this project.
                            </p>

                            <div class="row column push-down-small">
                                <p>
                                    {{{description}}}
                                </p>
                            </div>

                            <!-- TODO: a proper orbit/lightbox with Motion-UI -->
                            <div class="project-images-list row column horizontal-scroll-row push-down">
                                {{#each imageLinks}}
                                    <a class="thumbnail" data-lightbox="{{../_id}}" href="{{c.url this secure=true}}">
                                        <img src="{{c.url this secure=true width=250 height=200 crop='fit'}}">
                                    </a>
                                {{else}}
                                    <p>No images provided for this project.</p>
                                {{/each}}
                            </div>

                            <div class="row column button-group expanded push-down-small">
                                <p class="button secondary has-tip has-tip-item-card-{{#if locked}}locked{{else}}unlocked{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if locked}}{{tooltipLockedYours}}{{else}}{{tooltipUnlockedYours}}{{/if}}">{{#if locked}}Locked{{else}}Unlocked{{/if}}</p>
                                <p class="button secondary has-tip has-tip-item-card-{{#if available}}available{{else}}unavailable{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if available}}{{tooltipAvailableYours}}{{else}}{{tooltipUnavailableYours}}{{/if}}">{{#if available}}Available{{else}}Not available{{/if}}</p>
                            </div>

                            {{#if locked}}
                                <p class="row column push-down-small">You cannot edit or delete this project because it is locked.</p>
                            {{/if}}

                            {{#if location}}
                                <p class="row column push-down-small">
                                    <strong>Located near:</strong> {{location}}
                                </p>
                            {{/if}}

                            {{#if tag}}
                                <p class="row column push-down-small">
                                    <strong>Project type:</strong> {{tag}}
                                </p>
                            {{/if}}

                            {{#if addendums}}
                                <p class="row column push-down-small"><strong>additional details:</strong></p>
                                {{#each addendumsWithAuthors}}
                                    <p class="row column push-down-small">{{this.addendum}} - {{this.author}}</p>
                                {{/each}}
                            {{/if}}
                        {{/if}}
                    </div>
                {{else}}
                    <div class="inventory-single-item">
                        <p class="text-large float-right">
                            <a href="{{pathFor 'projects.single' username=ownerName exchangeItemId=_id}}"><i class="fi-link"></i></a>
                        </p>

                        <h4>{{title}}</h4>

                        <div class="row column push-down-small">
                            <p>
                                owned by
                                <a href="{{pathFor 'profile.page' username=ownerName}}">
                                    {{ownerName}}
                                </a>
                            </p>
                        </div>

                        <div class="row column push-down-small">
                            <p>
                                {{{description}}}
                            </p>
                        </div>

                        <!-- TODO: a proper orbit/lightbox with Motion-UI -->
                        <div class="project-images-list row column horizontal-scroll-row push-down">
                            {{#each imageLinks}}
                                <a class="thumbnail" data-lightbox="{{../_id}}" href="{{c.url this secure=true}}">
                                    <img src="{{c.url this secure=true width=250 height=200 crop='fit'}}">
                                </a>
                            {{else}}
                                <p>No images provided for this project.</p>
                            {{/each}}
                        </div>

                        <div class="row column button-group expanded push-down-small">
                            <p class="button secondary has-tip has-tip-item-card-{{#if locked}}locked{{else}}unlocked{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if locked}}{{tooltipLocked}}{{else}}{{tooltipUnlocked}}{{/if}}">{{#if locked}}Locked{{else}}Unlocked{{/if}}</p>
                            <p class="button secondary has-tip has-tip-item-card-{{#if available}}available{{else}}unavailable{{/if}}" disabled data-tooltip="" aria-haspopup="true" data-disable-hover="false" tabindex="1" title="{{#if available}}{{tooltipAvailable}}{{else}}{{tooltipUnavailable}}{{/if}}">{{#if available}}Available{{else}}Not available{{/if}}</p>
                        </div>

                        {{#if location}}
                            <p class="row column push-down-small">
                                <strong>Located near:</strong> {{location}}
                            </p>
                        {{/if}}

                        {{#if tag}}
                            <p class="row column push-down-small">
                                <strong>Project type:</strong> {{tag}}
                            </p>
                        {{/if}}

                        {{#if addendums}}
                            <p class="row column push-down-small">
                                <strong>additional details:</strong>
                            </p>
                            {{#each addendumsWithAuthors}}
                                <p class="row column push-down-small">{{this.addendum}} - {{this.author}}</p>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}
            {{/unless}}
        </div>
    </div>

</template>
