<template name="project_submit_page">
    <div class="row pull-down-large">
        <div class="column small-12 medium-10 large-10 medium-centered large-centered">
            <div class="row column">
                <h3>Add your own projects here.</h3>
                {{> project_submit_explanation}}
            </div>
            <div class="row column pull-down">
                {{> item_submit}}
            </div>
        </div>
    </div>
</template>

<template name="project_submit_explanation">
    <p class="push-down">
        Have you made something that someone could use?  Add it here to share it with
        other community members. <a href="{{pathFor 'static.howto'}}">Learn more</a>.
    </p>
</template>

<template name="item_submit">
    <div class="row column">
        {{#if currentUser}}

            <form class="item-submit-form">

                <div class="small-12 medium-12 large-10 large-centered row">
                    <div class="small-12 medium-12 large-12 columns">
                        {{#each singleItems}}
                            <div class="row column">
                                {{> single_item_submit }}
                                <hr>
                            </div>
                        {{/each}}
                    </div>

                    <!--  FIXME: there are problems with image upload, so I'm disabling this feature for now.
                    <div class="small-12 column push-down">
                        <button class="item-submit-add-single-item button secondary float-right">
                            <strong>+</strong>
                        </button>
                    </div>
                    -->

                    <div class="row column">
                        <div class="small-12 medium-12 large-8 large-centered column">
                            <span class="">
                                {{> add_items_button}}
                            </span>
                        </div>
                    </div>
                </div>

            </form>
            <hr>
        {{else}}
            {{> signup_call_to_action }}
        {{/if}}
    </div>
</template>

<template name="add_items_button">
    {{#unless hasSingleItems}}
        <input type="submit" value="Add projects" class="button primary expanded" disabled/>
    {{else}}
        {{#if isUploading}}
            <input type="submit" value="{{uploadingCopy}}" class="button secondary expanded" disabled/>
        {{else}}
            <input type="submit" value="{{addProjectCopy}}" class="button primary expanded"/>
        {{/if}}
    {{/unless}}
</template>

<template name="single_item_submit">
    <div class="single-item-form">

        <!--<div>
            <span class="float-right close-single-item-submit push-down-small"><i class="fi-x"></i></span>
        </div>-->

        <div class="row column">
            <input class="single-item-title column push-down-small padded" placeholder="Name your project" maxlength="500" required/>
        </div>

        <div class="row column">
            <textarea class="single-item-description padded" type="text" placeholder="Add a description" maxlength="5000" required></textarea>
        </div>

        <input id="projectPhotoUpload" class="show-for-sr" type="file" accept="image/*" multiple required data-multiple-caption="{count} files selected" />
        <label for="projectPhotoUpload" class="button secondary hollow expanded">
            <span>
                Upload photos (up to {{maxPhotoUploadCount}})
            </span>
        </label>

        <div class="input-group row column">
            <select class="single-item-tag small-12 medium-12 large-7">
                <option value=" " disabled selected style="color: gray">Tag your project</option>
                {{#each projectTags}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <div class="small-12 medium-12 large-5 column">
                <span data-tooltip="" aria-haspopup="true" class="has-tip has-tip-item-submit" data-disable-hover="false" tabindex="1" title="Make sure this box is checked so you can share your project with other people!">Available?</span>
                <input class="single-item-available"
                       checked
                       type="checkbox"/>
            </div>
        </div>

    </div>

</template>
