<template name="item_edit">
    {{#if equals currentUser.username ownerName}}  <!--TODO: perform this check in a helper -->
        <h3 class="clearfix">Edit your project's details</h3>

        <form class="main item-edit-form">


            <!-- FIXME: the original owner should be able to edit photos when unlocked, and any subsequent owners should be able to add "addendum" photos -->

            <div class="row column small-12 medium-10 large-8 medium-centered large-centered">
                <div class="small-12 medium-10 large-10 medium-offset-2 large-offset-2 columns">
                    <div class="row column">
                        <label>Title:</label>
                        {{#unless isFirstOwner}}
                            <input name="title" type="text" value="{{title}}" disabled />
                        {{else}}
                            <input name="title" type="text" value="{{title}}" placeholder="Edit the title" />
                        {{/unless}}
                    </div>

                    <div class="row column">
                        <label>
                            {{#unless isFirstOwner}}Make an addendum to this item's description:{{else}}Description:{{/unless}}
                        </label>
                        <textarea name="description" type="text" placeholder="Update this project's description"  maxlength="5000">{{{latestAddendum}}}</textarea>
                    </div>

                    <div class="row column">
                        <label>Location:</label>
                        <input name="location" type="text" value="{{location}}" placeholder="New location" maxlength="500"/>
                    </div>

                    <!-- TODO: tag edit? -->

                    <div class="row column">
                        <span data-tooltip="" aria-haspopup="true" class="has-tip has-tip-item-edit" data-disable-hover="false" tabindex="1" title="Check this box if you'd like to share your project with other people.">Available for checkout?</span>

                        {{#if isAvailable}}
                            <input name="availableCheckbox" type="checkbox" checked/>
                        {{else}}
                            <input name="availableCheckbox" type="checkbox"/>
                        {{/if}}
                    </div>

                    <hr>

                    <div class="row column">
                        <input type="submit" value="Save" class="button primary submit float-left"/>
                        <a class="button alert float-right delete-item" href="#" data-no-instant>Delete</a>
                    </div>
                </div>
            </div>

        </form>
    {{/if}}
</template>