<template name="item_submit">
    <div class="content-scrollable">
        {{#if currentUser}}
            <p class="push-down">You can add your own projects here.</p>
            <hr>
            <form class="item-submit-form">

                <div class="item-submit-add-buttons">
                    <button class="item-submit-add-single-item btn bg-success-dark pull-right"><strong>+</strong></button>
                    {{> add_items_button}}
                </div>

                <div style="clear: both">
                    {{#each singleItems}}
                        {{> single_item_submit }}
                    {{/each}}
                </div>
            </form>
            <hr>
        {{else}}
            {{> signup_call_to_action }}
        {{/if}}
    </div>
</template>

<template name="add_items_button">
    <span class="pull-left">
        {{#unless hasSingleItems}}
            <input type="submit" value="Add items" class="btn btn-primary" disabled/>
        {{else}}
            {{#if isUploading}}
                <input type="submit" value="{{uploadingCopy}}" class="btn btn-primary" disabled/>
            {{else}}
                <input type="submit" value="{{addProjectCopy}}" class="btn btn-primary"/>
            {{/if}}
        {{/unless}}
    </span>
</template>

<template name="single_item_submit">
    <div class="single-item-form">
        <div><span class="pull-right btn-xs bg-danger close-single-item-submit">X</span></div>
        <div class="form-group">
            <div class="controls">
                <input class="single-item-title form-control" placeholder="Name your project" maxlength="500" required/>
            </div>
            <div class="controls">
                <textarea class="single-item-description form-control" placeholder="Add a description" maxlength="5000" required></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Check this box if your item is available for checkout"
                      style="padding: 0 1rem;">
                    <input class="single-item-available form-control form-control-checkbox-left"
                           style="width: 3rem;"
                           checked
                           type="checkbox"/>
                </span>

                <select class="single-item-tag form-control">
                    <option value=" " disabled selected style="color: gray">Tag your item</option>
                    {{#each projectTags}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <label class="push-down-sm control-label">Upload a photo</label>
            <input class="single-item-photos" type="file" accept="image/*" multiple required/>
        </div>
    </div>

    <!--<script>$('[data-toggle="tooltip"]').tooltip({container: 'body'});</script>-->
</template>
