<template name="projects_user_all">
    <div class="">
        <h1>Inventory page</h1>
        <br>

        {{#unless currentUser}}
            {{#if hasExchangeItems}}
                <div class="col-sm-12">
                    <h2 class="row">
                        <a href="{{pathFor 'profile.page' username=currentPageUsername}}">
                            {{currentPageUsername}}'s
                        </a> projects</h2>
                </div>
                <div class="form-group">
                    {{#each item in exchangeItems}}
                        <div class="inventory-single-item">
                            {{#with item}}{{> project_single_card }}{{/with}}
                            {{#if isExchangeItemAvailable (item)}}
                                <p>This project is available!  Sign in to request it</p>
                            {{else}}
                                <p>This project is not available for checkout.</p>
                            {{/if}}
                        </div>
                        <hr>
                    {{/each}}
                </div>

                {{#if hasMoreExchangeItems}}
                    <p><a class="js-load-more-projects button secondary">Load more of {{currentPageUsername}}'s projects</a></p>
                {{/if}}
            {{else}}
                <p>{{currentPageUsername}} doesn't have any projects at the moment.</p>
            {{/if}}
        {{else}}
            {{#if isProfileOwner}}

                {{> item_submit}}

                {{#if hasExchangeItems}}
                    <div class="col-sm-12">
                        <h2 class="row">Your projects</h2>
                    </div>
                    {{#each item in exchangeItems}}
                        <div class="inventory-single-item">
                            {{#with item}}{{> project_single_card }}{{/with}}
                            {{#if isExchangeItemAvailable (item)}}
                                <p>This project is available for others to check out.</p>
                            {{else}}
                                <p>This project is not available for others to checkout.</p>
                            {{/if}}
                        </div>
                        <hr>
                    {{/each}}

                    {{#if hasMoreExchangeItems}}
                        <p><a class="js-load-more-projects button secondary">Load more of your projects</a></p>
                    {{/if}}
                {{else}}
                    <p>You don't have any projects at the moment.  <a href="{{pathFor 'projects.add'}}">Add some.</a></p>
                {{/if}}
            {{else}}
                {{#if hasExchangeItems}}
                    <div class="col-sm-12">
                        <h2 class="row">
                            <a href="{{pathFor 'profile.page' username=currentPageUsername}}">
                                {{currentPageUsername}}'s
                            </a> projects
                        </h2>
                    </div>
                    <div class="col-xxsish-8 right-border right-border-xxsish">
                        <div class="row">
                            <form class="item-request-form">
                                <div class="form-group">
                                    {{#each item in exchangeItems}}
                                        <div class="inventory-single-item">
                                            {{#with item}}
                                                <span class="hidden inventory-single-item-id">{{_id}}</span>
                                                {{> project_single_card }}

                                                {{#if isExchangeItemAvailable (item)}}
                                                    <label class="control-label">Request for checkout:</label>
                                                    <input class="request-checkout-checkbox form-control form-control-checkbox-left" type="checkbox"/>
                                                {{else}}
                                                    <p>This project can't be requested for checkout.</p>
                                                {{/if}}
                                            {{/with}}

                                        </div>
                                        <hr>
                                    {{/each}}
                                </div>
                            </form>
                        </div>
                    </div>

                    {{#if hasMoreExchangeItems}}
                        <p><a class="js-load-more-projects button secondary">Load more of {{currentPageUsername}}'s projects</a></p>
                    {{/if}}

                    <div class="scrolly-sidebar col-xxsish-4 hidden-below-xxsish">
                        <button class="multiple-item-request-form-button btn btn-primary" disabled>Request these projects</button>
                        {{#if requestedProjectNames}}
                            <div class="requested-items-list">
                                {{#each requestedProjectNames}}
                                    <p>{{this}}</p>
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <p>{{currentPageUsername}} doesn't have any projects at the moment.</p>
                {{/if}}
            {{/if}}
        {{/unless}}
    </div>
</template>