<template name="projects_user_all_page">
    <div class="row">
        <div class="column small-12 medium-8 large-6 medium-centered large-centered">
            <div class="row column">
                <a class="button-go-back"
                   href="{{pathFor 'profile.page' username=userPageUsername}}">
                    back to
                    {{#if ownPage}}
                        your
                    {{else}}
                        {{userPageUsername}}'s
                    {{/if}}
                    profile
                </a>
            </div>
            <div class="row column">
                {{> projects_user_all}}
            </div>
        </div>
    </div>
</template>

<template name="projects_user_all">
    <div class="row column">

        {{#unless currentUser}}
            {{#if hasExchangeItems}}
                <div class="row column push-down">
                    <h3 class="">
                        {{currentPageUsername}}'s projects
                    </h3>
                </div>

                {{#each item in exchangeItems}}
                    <div class="row inventory-single-item">
                        {{#with item}}
                            <!--{{> project_single_card }}-->
                            <div class="column homepage-projects-column small-12 bordered-light padded-xlarge push-down-small shift-down-small">
                                <div class="homepage-project-box">
                                    <a href="{{pathFor 'projects.single' username=this.ownerName exchangeItemId=this._id}}">
                                        <img src="{{c.url this.imageLinks.[0] secure=true width=700 height=700 crop='fill'}}">

                                        <p class="homepage-project-title spill-text">
                                            {{this.title}}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {{/with}}

                        <!--{{#if isExchangeItemAvailable (item)}}
                            <p>This project is available!  Sign in to request it</p>
                        {{else}}
                            <p>This project is not available for checkout.</p>
                        {{/if}}-->
                    </div>

                    <hr>
                {{/each}}

                {{#if hasMoreExchangeItems}}
                    <p class="text-center pull-down">
                        <a class="js-load-more-projects button secondary">
                            <strong>
                                Load more projects
                            </strong>
                        </a>
                    </p>
                {{/if}}
            {{else}}
                <p>
                    {{currentPageUsername}} doesn't have any projects at the moment.
                </p>
            {{/if}}
        {{else}}
            {{#if isProfileOwner}}

                <div class="row column push-down">
                    {{#if hasExchangeItems}}
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">
                                    New project
                                </a>
                                <div class="accordion-content" data-tab-content>
                                    <h4 class="pull-down-small">
                                        Add a project
                                    </h4>

                                    {{> project_submit_explanation}}
                                    {{> item_submit}}
                                </div>
                            </li>
                        </ul>
                    {{else}}
                        <h4 class="pull-down-small">
                            Add a project
                        </h4>

                        {{> project_submit_explanation}}
                        {{> item_submit}}
                    {{/if}}
                </div>

                {{#if hasExchangeItems}}
                    <div class="row column pull-down-small">
                        <h3 class="">
                            Your projects
                        </h3>
                    </div>
                    {{#each item in exchangeItems}}
                        <div class="inventory-single-item row column">
                            {{#with item}}
                                <!--{{> project_single_card }}-->
                                <div class="column homepage-projects-column small-12 bordered-light padded-xlarge push-down-small shift-down-small">
                                    <div class="homepage-project-box">
                                        <a href="{{pathFor 'projects.single' username=this.ownerName exchangeItemId=this._id}}">
                                            <img src="{{c.url this.imageLinks.[0] secure=true width=700 height=700 crop='fill'}}">

                                            <p class="homepage-project-title spill-text">
                                                {{this.title}}
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            {{/with}}

                            <!--{{#if isExchangeItemAvailable (item)}}
                                <p>This project is available for others to check out.</p>
                            {{else}}
                                <p>This project is not available for others to checkout.</p>
                            {{/if}}-->
                        </div>
                        <hr>
                    {{/each}}

                    {{#if hasMoreExchangeItems}}
                        <p class="text-center pull-down">
                            <a class="js-load-more-projects button secondary">
                                <strong>
                                    Load more projects
                                </strong>
                            </a>
                        </p>
                    {{/if}}
                {{else}}
                    <p>
                        <strong>
                            You don't have any projects at the moment.
                        </strong>

                        <a href="{{pathFor 'projects.add'}}">
                            Add some.
                        </a>
                    </p>
                {{/if}}
            {{else}}
                {{#if hasExchangeItems}}
                    <div class="row column">
                        <h3>
                            {{currentPageUsername}}'s projects
                        </h3>
                    </div>

                    <div class="row column">
                        <form class="item-request-form">
                            {{#each item in exchangeItems}}
                                <div class="inventory-single-item">
                                    {{#with item}}
                                        <span class="invisible inventory-single-item-id">
                                            {{_id}}
                                        </span>
                                        <!--{{> project_single_card }}-->

                                        <!--{{#if isExchangeItemAvailable (item)}}
                                            <label class="control-label">Request for checkout:</label>
                                            <input class="request-checkout-checkbox form-control form-control-checkbox-left"
                                                   type="checkbox"/>
                                        {{else}}
                                            <p>This project can't be requested for checkout.</p>
                                        {{/if}}-->
                                        <div class="column homepage-projects-column small-12 bordered-light padded-xlarge push-down-small shift-down-small">
                                            <div class="homepage-project-box">
                                                <a href="{{pathFor 'projects.single' username=this.ownerName exchangeItemId=this._id}}">
                                                    <img src="{{c.url this.imageLinks.[0] secure=true width=700 height=700 crop='fill'}}">

                                                    <p class="homepage-project-title spill-text">
                                                        {{this.title}}
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    {{/with}}

                                </div>
                                <hr>
                            {{/each}}
                        </form>
                    </div>

                    {{#if hasMoreExchangeItems}}
                        <p class="text-center pull-down">
                            <a class="js-load-more-projects button secondary">
                                <strong>
                                    Load more projects
                                </strong>
                            </a>
                        </p>
                    {{/if}}

                    <div class="scrolly-sidebar col-xxsish-4 hidden-below-xxsish">
                        <button class="multiple-item-request-form-button button primary"
                                disabled>
                            Request these projects
                        </button>
                        {{#if requestedProjectNames}}
                            <div class="requested-items-list">
                                {{#each requestedProjectNames}}
                                    <p>
                                        {{this}}
                                    </p>
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <p>
                        {{currentPageUsername}} doesn't have any projects at the moment.
                    </p>
                {{/if}}
            {{/if}}
        {{/unless}}
    </div>
</template>