<template name="item_edit">
    <h3>In item_edit</h3>
    {{#if equals currentUser.username ownerName}}  <!--TODO: unnecessary check? -->
        <form class="main item-edit-form">
            <div class="form-group">
                <div class="controls">

                    <p>Title:</p>
                    {{#unless isFirstOwner}}
                        <input name="title" type="text" value="{{title}}" disabled />
                    {{else}}
                        <input name="title" type="text" value="{{title}}" />
                    {{/unless}}

                    <br>

                    <label class="control-label">{{#unless isFirstOwner}}Make an addendum to this item's description:{{else}}Description:{{/unless}} </label><br>
                    <input name="description" type="text" value="{{lastAddendum}}" placeholder="Update this project's description" class="form-control" maxlength="5000"/><br>

                    <p>Tag:</p>
                    <input name="location" type="text" value="{{location}}" placeholder="New location" class="form-control" maxlength="500"/><br>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="control-label">Available for checkout?</label><br>
                    {{#if isAvailable}}
                        <input name="availableCheckbox" type="checkbox" checked/>
                    {{else}}
                        <input name="availableCheckbox" type="checkbox"/>
                    {{/if}}
                </div>
            </div>
            <input type="submit" value="Edit" class="btn btn-primary submit"/>
            <hr/>
            <a class="btn btn-danger delete-item" href="#">Delete</a>
        </form>
    {{/if}}
</template>