<template name="project_single_page">
    <div class="">

        {{#with exchangeItem}}
            {{> project_single_card}}
        {{/with}}


        {{#unless currentUser}}
            {{#if isExchangeItemAvailable}}
                <p>This project is available!  Sign in to request it.</p>
            {{else}}
                <p>This project is not available to check out.</p>
            {{/if}}
            <p>
                <a href="{{pathFor 'profile.page' username=exchangeItem.ownerName}}">
                    See the rest of {{exchangeItem.ownerName}}'s projects
                </a>
            </p>
        {{else}}
            {{#if isItemOwner}}

                <!--FIXME: show the actual state of the project here:  transaction state (if it's involved in one)-->
                {{#if isExchangeItemAvailable}}
                    <p>This project is available for other people to check out.</p>
                {{else}}
                    <p>This project is not available for other people to check out.</p>

                {{/if}}

                {{> item_submit}}

                <p>
                    <a href="{{pathFor 'profile.page' username=exchangeItem.ownerName}}">
                        See the rest of your projects
                    </a>
                </p>
            {{else}}
                {{#if isExchangeItemAvailable}}
                    <form>
                        <div class="row column">
                            <input class="single-item-request-form-button button primary" type="submit" value="Request this project"/>
                            <span class="invisible inventory-single-item-id">{{exchangeItem._id}}</span>
                        </div>
                    </form>
                {{else}}
                    <!--FIXME: in UI areas like this, if the exchangeItem is a part of a transaction that
                        the currentUser is involved in, then display the state of the transaction here
                        rather than this general "unavailable" message. -->
                    <p>This project is not available to check out.</p>
                {{/if}}
                <p>
                    <a href="{{pathFor 'profile.page' username=exchangeItem.ownerName}}">
                        See the rest of {{exchangeItem.ownerName}}'s projects
                    </a>
                </p>
            {{/if}}
        {{/unless}}

    </div>
</template>
