<template name="singleItemPage">
    {{#unless isNotProfileOwner}}
        {{#if isProfileOwner}}
            {{#with item}}
                {{> userSingleItemListing }}
            {{/with}}
            {{> itemSubmit }}
        {{else}}
            <div class="form-group">
                {{#with item}}
                    <div class="inventory-single-item">
                        {{> userSingleItemListing }}
                        {{#if truthy available}}
                            <p>This item is available!  Sign in to request it</p>
                        {{/if}}
                    </div>
                {{/with}}
            </div>
        {{/if}}
    {{else}}
        <form class="item-request-form">
            <div class="form-group">
                {{#with item}}
                    <div class="inventory-single-item">
                        <span class="hidden inventory-single-item-id">{{_id}}</span>
                        {{> userSingleItemListing }}
                        {{#if truthy available}}
                            <input class="single-item-request-form-button btn btn-primary" type="submit" value="Request item"/>
                        {{/if}}
                    </div>
                {{/with}}
            </div>
        </form>
    {{/unless}}
</template>