<template name="admin_page">
    <div class="row column pull-down">
        <div class="row">
            <div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
                <h2>Admin page</h2>
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Users</a>
                        <div class="accordion-content" data-tab-content>
                            Users content...
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">UserAttributes</a>
                        <div class="accordion-content" data-tab-content>
                            {{#each userAttributes}}
                                {{> userAttributesAdminDoc}}
                            {{else}}
                                <p>No user attributes.</p>
                            {{/each}}
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">UserPosts</a>
                        <div class="accordion-content" data-tab-content>
                            {{#each userPosts}}
                                {{> userPostsAdminDoc}}
                            {{else}}
                                <p>No user posts.</p>
                            {{/each}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

    </div>
</template>


<template name="userAttributesAdminDoc">
    <p>
        <stong>username</stong>: {{username}}

        <br>

        <strong>profilePhotoLink</strong>:
        <a data-lightbox="{{_id}}" href="{{c.url profilePhotoLink secure=true}}">
            <img class="display-block" src="{{c.url profilePhotoLink secure=true}}" />
        </a>

        <br>

        <strong>_id</strong>: {{_id}}
        |
        <strong>userId</strong>: {{userId}}
        |
        <strong>usernameLower</strong>: {{usernameLower}}
        |
        <strong>location</strong>: {{location}}
        |
        <strong>bio</strong>: {{bio}}
        |
        <strong>itemsPreviouslyOwned</strong>: {{itemsPreviouslyOwned}}  <!-- TODO: link to items on admin panel -->
        |
        <strong>rank</strong>: {{rank}}
        |
        <strong>createdAt</strong>: {{timeToMinutes createdAt}}

        <br>

        <button class="button delete">Delete?</button>
    </p>
    <hr>
</template>

<template name="userPostsAdminDoc">
    <p>
        <strong>_id</strong>: {{_id}}
        |
        <strong>userId</strong>: {{userId}}
        |
        <strong>author</strong>: {{author}}
        |
        <strong>location</strong>: {{location}}
        |
        <strong>commentsCount</strong>: {{commentsCount}}
        |
        <strong>voters</strong>: {{voters}}
        |
        <strong>upvotes</strong>: {{upvotes}}
        |
        <strong>flaggers</strong>: {{flaggers}}
        |
        <strong>flags</strong>: {{flags}}
        |
        <strong>rank</strong>: {{rank}}
        |
        <strong>tag</strong>: {{tag}}
        |
        <strong>createdAt</strong>: {{timeToMinutes createdAt}}
        |
        <strong>lastUpdated</strong>: {{timeToMinutes lastUpdated}}

        <br>

        <strong>text</strong>: {{text}}

        <br>

        <strong>imageLinks</strong>:
        {{#each imageLinks}}
            <a data-lightbox="{{this}}" href="{{c.url this secure=true}}">
                {{this}}
            </a>
            <br>
        {{else}}
            no image links
        {{/each}}

        <br>

        <strong>comments</strong>:
        <span style="display: block; width: 80%; margin-left: 20%;">
            {{#each comments}}
                <strong>author</strong>: {{this.author}}
                |
                <strong>userPostId</strong>: {{this.userPostId}}
                |
                <strong>flaggers</strong>: {{this.flaggers}}
                |
                <strong>flags</strong>: {{this.flags}}
                |
                <strong>createdAt</strong>: {{timeToMinutes this.createdAt}}
                |
                <strong>lastUpdated</strong>: {{timeToMinutes this.lastUpdated}}

                <br>

                <strong>text</strong>: {{this.text}}

                <br>

                <button class="button delete-comment">Delete comment?</button>

                <hr>
            {{else}}
                no comments
            {{/each}}
        </span>

        <br>

        <button class="button delete">Delete userPost?</button>
    </p>
    <hr>
</template>