<template name="user_post_submit">
    <form enctype="multipart/form-data" class="main form user-post-submit">
        <div class="form-group">
            <textarea required name="user-post-submit-text" type="text" class="form-control" placeholder="Post an update" maxlength="5000"></textarea>
        </div>

        <label for="postFileUpload" class="button secondary hollow expanded">Upload photos (up to {{maxPhotoUploadCount}})</label>
        <input id="postFileUpload" class="show-for-sr" type="file" accept="image/*" multiple/>

        {{#if isUploading}}
            <input type="submit" value="{{uploadingCopy}}" class="button primary float-right" disabled/>
        {{else}}
            <input type="submit" value="Post" class="button primary float-right"/>
        {{/if}}
    </form>
</template>
