<template name="user_post_card">
    <div class="post row column">
        <p class="float-right">{{dateTimeAgo createdAt}}</p>
        <p><strong><a href="{{pathFor 'profile.page' username=author}}">{{author}}</a></strong></p>
        {{#unless inappropriate}}
            <h4 class="user-post-body">{{text}}</h4>

            <!-- TODO: a proper orbit/lightbox with Motion-UI -->
            <div class="post-images-list row column horizontal-scroll-row push-down">
                {{#each imageLinks}}
                    <a class="thumbnail" href="{{c.url this secure=true}}">
                        <img src="{{c.url this secure=true width=250 height=200 crop='fit'}}">
                    </a>
                {{/each}}
            </div>

        {{else}}
            <h3>[This post has been flagged as inappropriate]</h3>
        {{/unless}}

        <!--<p class="push-down-sm">location: {{location}}</p>-->

        <div class="button-group">
            <a href="#" class="upvote button primary {{upvotedClass}}">
                <i class="fi-star"></i>&nbsp;&nbsp;{{#if upvotes}}{{upvotes}}{{else}}0{{/if}}
            </a>

            <a href="{{pathFor 'profile.post' username=author userPostId=_id}}" class="discuss button">
                {{commentsCount}} {{pluralize commentsCount "comment"}}
            </a>

            {{#if currentUser}}
                {{#unless ownPost}}
                    <a href="#" class="flag button primary {{flaggedClass}}">
                        {{#if userHasFlagged}}flagged{{else}}flag{{/if}}
                    </a>
                {{else}}
                    <a href="{{pathFor 'profile.post.edit' username=author userPostId=_id}}" class="button primary"><i class="fi-pencil"></i></a>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</template>