<template name="user_post_single_page">
    <div class="content-scrollable">
        <a class="btn btn-default shift-down" href="{{pathFor 'profile.page' username=userPost.author}}">
            back to
            {{#if ownPost}}your{{else}}{{userPost.author}}'s{{/if}}
            profile
        </a>
        <div class="shift-down-sm">
            {{#with userPost}}
                {{> user_post_card}}
            {{/with}}
        </div>

        <hr>

        <ul class="comments">
            {{#each comments}}
                {{> comment_card }}

            {{else}}
                <p>There are no comments on this post.</p>
            {{/each}}

            {{#if hasMoreComments}}
                <p><a class="js-load-more-comments">Load more comments</a></p>
            {{/if}}
        </ul>

        <hr>

        {{#if currentUser}}
            {{#with userPost}}
                {{> comment_submit}}
            {{/with}}
        {{else}}
            <p class="push-down">Log in to leave a comment</p>
        {{/if}}
    </div>
</template>