<template name="user_post_submit">
    <form enctype="multipart/form-data" class="main form user-post-submit">
        <div class="form-group">
            {{#textareaAutocomplete required="true" settings=settings name="user-post-submit-text" placeholder="Post an update" maxlength="5000" type="text"}}{{/textareaAutocomplete}}
        </div>

        <input id="postFileUpload" class="show-for-sr" type="file" accept="image/*" multiple data-multiple-caption="{count} files selected" />
        <label for="postFileUpload" class="button secondary hollow expanded">
            <span>
                Upload photos (up to {{maxPhotoUploadCount}})
            </span>
        </label>

        {{#if isUploading}}
            <input type="submit" value="{{uploadingCopy}}" class="button primary float-right" disabled/>
        {{else}}
            <input type="submit" value="Post" class="button primary float-right"/>
        {{/if}}
    </form>
</template>
