<template name="user_posts_all">
    <div class="row column">
        <h2>
            {{#if isProfileOwner}}Your{{else}}{{pageUsername}}'s{{/if}} posts
        </h2>

        {{#if isProfileOwner}}
            <div>
                {{> user_post_submit}}
                <hr>
            </div>
        {{/if}}

        <div>
            <!--<a class="toggle-posts-sort" data-no-instant>{{toggleSortText}}</a>-->

            {{#each userPosts}}
                {{> user_post_card userPost=this}}
                <hr>
            {{else}}
                <p>{{#if isProfileOwner}}You haven't{{else}}{{pageUsername}} hasn't{{/if}} posted anything yet.</p>
            {{/each}}

            {{#if hasMorePosts}}
                <p><a class="js-load-more-posts button secondary" data-no-instant>Load more posts</a></p>
            {{/if}}
        </div>
    </div>
</template>
