<template name="userPostPage">
    <a class="btn btn-default shift-down" href="{{pathFor 'chronologicalUserPosts' username=author}}">
        back to
        {{#if ownPost}}your{{else}}{{author}}'s{{/if}}
        profile
    </a>
    <div class="shift-down-sm">
        {{> userPostItem }}
    </div>

    <ul class="comments">
        {{#each comments}}
            {{> commentItem }}
        {{/each}}
    </ul>

    {{#if currentUser}}
        {{> commentSubmit}}
    {{else}}
        <p class="push-down">Log in to leave a comment</p>
    {{/if}}
</template>