<template name="profilePage">
    {{#unless profileExists}}
        <p>This profile doesn't exist.</p>
    {{else}}
        <div class="col-xxsish-8 right-border right-border-xxsish">
            <div class="row">
                <h1>{{#if isProfileOwner}}Your profile{{else}}{{user.username}}'s page{{/if}}</h1>
                {{#if userAttributes}}
                    <p>{{userAttributes.bio}}</p>
                    <!-- <img class="profile-page-photo" src="{{c.url userAttributes.profilePhotoLink format='jpg'}}" /> -->
                {{/if}}
            </div>
            <div class="mobile-buttons hidden-xxsish row push-down">
                {{> mobileProfileButtons }}
            </div>
            <div class="row push-down">
                {{#if isProfileOwner}}
                    {{> userPostSubmit}}
                    <hr>
                {{/if}}
            </div>
            <div class="user-posts row">
                <a class="pull-right btn-sm bg-info top-posts-button" href="{{pathFor toggleSortLink username=user.username}}">{{toggleSortText}}</a>
                <div class="clearfix">
                    {{#if hasUserPosts}}
                        {{#each userPosts}}
                            <a href="{{pathFor 'userPostPage' username=author userPostId=_id}}">
                                {{> userPostItem }}
                            </a>
                        {{/each}}
                    {{else}}
                        <h4>{{user.username}} hasn't made any posts yet.</h4>
                    {{/if}}

                    {{#if nextPath}}
                        <a class="load-more" href="{{nextPath}}">Load more</a>
                    {{else}}
                        {{#unless ready}}
                            {{> spinner}}
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="scrolly-sidebar col-xxsish-4 hidden-below-xxsish">
            <h1 class="row"></h1>
            {{#if chatExists}}
                <a class="sidebar-button btn btn-info" href="{{pathFor 'chatWindow' username=user.username}}">Message {{user.username}}</a>
            {{/if}}
            {{#if isProfileOwner}}
                <a class="sidebar-button btn btn-success" href="{{pathFor 'userExchanges'}}">Your exchanges</a>
                <a class="sidebar-button btn btn-primary" href="{{pathFor 'userInventoryPage' username=user.username}}">Your items</a>
            {{else}}
                <a class="sidebar-button btn btn-primary" href="{{pathFor 'userInventoryPage' username=user.username}}">{{user.username}}'s items</a>
                <div class="push-down">
                    {{#each userItems}}
                        {{> itemSidebarListing }}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/unless}}
</template>

<template name="itemSidebarListing">
    <div class="push-down-sm">
        <a href="{{pathFor 'singleItemPage' exchangeItemId=this._id}}">
            <strong>{{this.title}}</strong> {{#if this.location}}({{this.location}}){{/if}} {{#if this.tag}}| {{this.tag}}{{/if}}
        </a>
    </div>
</template>

<template name="mobileProfileButtons">
    <div>
        {{#if chatExists}}
            <a class="sidebar-button-half btn btn-info" href="{{pathFor 'chatWindow' username=user.username}}">Message</a>
            <a class="sidebar-button-half btn btn-primary" href="{{pathFor 'userInventoryPage' username=user.username}}">Items</a>
        {{else}}
            {{#unless isProfileOwner}}
                <a class="sidebar-button btn btn-primary" href="{{pathFor 'userInventoryPage' username=user.username}}">{{user.username}}'s items</a>
            {{else}}
                <a class="sidebar-button-half btn btn-success" href="{{pathFor 'userExchanges'}}">Exchanges</a>
                <a class="sidebar-button-half btn btn-primary" href="{{pathFor 'userInventoryPage' username=user.username}}">Items</a>
            {{/unless}}
        {{/if}}
    </div>
</template>