<template name="profile_page_card">
    <div class="row column">

        <div class="row column">
            <h1>{{profileUsername}}</h1>
            <!--{{#if isProfileOwner}}
                <h1>Your profile</h1>
            {{else}}
                <h1>{{profileUsername}}'s profile</h1>
            {{/if}}-->
        </div>

        <hr>

        <div class="row">
            <div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
                {{> user_attributes_card}}

                <div class="column">
                    {{#if isProfileOwner}}
                        <hr>
                        <a class="button secondary expanded" href="{{pathFor 'exchanges.user' username=profileUsername}}">
                            My exchanges
                        </a>
                    {{/if}}
                    {{#if chatExists}}
                        <hr>
                        <a class="button secondary expanded" href="{{pathFor 'chatWindow.user' username=profileUsername}}">
                            Message {{profileUsername}}
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>

        <hr>

        <div class="row column">
            <div class="small-12 medium-6 large-6 columns">
                {{> user_posts_all}}
            </div>

            <div class="small-12 medium-1 large-1 columns">
                <!-- TODO: vertical border -->
            </div>

            <div class="small-12 medium-5 large-5 columns">
                {{> projects_user_all}}
            </div>
        </div>

    </div>

</template>
