<template name="user_attributes_edit">

    <div class="row column clearfix-small">
        <form class="main form userAttributes-{{#if userAttributes}}edit{{else}}insert{{/if}}-form">

            {{#if fieldsRequired}}

                <textarea required name="bio" type="text" placeholder="Add a brief bio" class=""
                          maxlength="1000">{{#if userAttributes}}{{userAttributes.bio}}{{/if}}</textarea>

                <input required name="location" type="text" placeholder="Add your general location"
                       value="{{#if userAttributes}}{{userAttributes.location}}{{/if}}"/>

                <input name="profile-photo-link" id="profilePhotoFileUpload" class="show-for-sr" type="file"
                       accept="image/*" data-multiple-caption="{count} files selected" />
                <label for="profilePhotoFileUpload" class="button secondary hollow expanded">
                    <span>
                        {{#if userAttributes}}Update your{{else}}Add a{{/if}} profile photo
                    </span>
                </label>

            {{else}}

                <textarea name="bio" type="text" placeholder="Add a brief bio" class=""
                          maxlength="1000">{{#if userAttributes}}{{userAttributes.bio}}{{/if}}</textarea>

                <input name="location" type="text" placeholder="Add your general location"
                       value="{{#if userAttributes}}{{userAttributes.location}}{{/if}}"/>

                <input name="profile-photo-link" id="profilePhotoFileUpload" class="show-for-sr" type="file"
                       accept="image/*" data-multiple-caption="{count} files selected" />
                <label for="profilePhotoFileUpload" class="button secondary hollow expanded">
                    <span>
                        {{#if userAttributes}}Update your{{else}}Add a{{/if}} profile photo
                    </span>
                </label>

            {{/if}}

            {{#if isUploadingProfilePicture}}
                <input class="button primary float-right submit" type="submit" value="Saving..." disabled/>
            {{else}}
                <input class="button primary float-right submit" type="submit" value="Save"/>
            {{/if}}
        </form>
    </div>

</template>