<template name="user_attributes_card">

    <div class="row column">
        <div class="small-12 medium-5 large-4 column">
            <!-- FIXME: make this a general link that defaults to the blank photo -->
            {{#if userAttributes.profilePhotoLink}}
                <a href="{{c.url userAttributes.profilePhotoLink secure=true}}">
                    <img class="thumbnail" src="{{c.url userAttributes.profilePhotoLink secure=true}}" width="100%"/>
                </a>
            {{/if}}
        </div>

        <div class="small-12 medium-7 large-8 column">
            {{#if isProfileOwner}}

                {{#if showUserAttributesEdit}}
                    <button class="button primary hollow float-right push-left userAttributes-edit">Cancel editing</button>

                    {{> user_attributes_edit }}
                {{else}}
                    <button class="button primary hollow float-right push-left userAttributes-edit">Edit profile</button>

                    {{#unless userAttributes}}
                        <!-- FIXME: force with the UI to fill this out first, otherwise projects can't be added. -->
                        <div class="row column clearfix-small">
                            <p>Please fill out your profile information.</p>
                        </div>
                    {{else}}

                        <div class="row column clearfix-small">
                            <p>{{{userAttributes.bio}}}</p>
                        </div>

                        <hr class="half-width float-left">

                        <div class="row column clearfix">
                            <p>Location: {{userAttributes.location}}</p>
                        </div>

                    {{/unless}}

                {{/if}}

            {{else}}
                {{#unless userAttributes}}
                    <div class="row column">
                        <p>{{profileUsername}} hasn't completed their profile yet.</p>
                    </div>
                {{else}}
                    <div class="row column">
                        <p>{{{userAttributes.bio}}}</p>
                    </div>

                    <hr class="half-width float-left">

                    <div class="row column clearfix">
                        <p>Location: {{userAttributes.location}}</p>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
    </div>

</template>
