<template name="user_attributes_insert_page">
    <div class="pull-down row">
        <div class="column small-12 medium-8 large-6 medium-centered large-centered">

            <div class="row column">
                <h1>Introduce yourself</h1>
            </div>
            <div class="row column">
                <p>You're one step away from joining the Flipped Art online community!
                    Tell the community a little bit about yourself.</p>
            </div>

            <hr>

            <div class="row column pull-down">

                {{>user_attributes_edit required="true"}}
            </div>
        </div>
    </div>
</template>