<template name="user_attributes_edit">
    <h3>User attributes edit form.</h3>

    <form class="main form userAttributes-{{#if userAttributes}}edit{{else}}insert{{/if}}-form">
        <div class="form-group">
            <div class="controls">

                <textarea name="bio" type="text" placeholder="Add a brief bio" class="form-control" maxlength="1000">{{#if userAttributes}}{{userAttributes.bio}}{{/if}}</textarea>
                <input name="location" type="text" placeholder="Add your general location"
                       value="{{#if userAttributes}}{{userAttributes.location}}{{/if}}" />


                {{#if and userAttributes userAttributes.profilePhotoLink}}
                    <p>Update your profile photo</p>
                {{else}}
                    <p>Set a profile photo</p>
                {{/if}}
                <input name="profile-photo-link" type="file" accept="image/*"><br>

            </div>
        </div>
        <input type="submit" value="{{#if userAttributes}}Edit your profile{{else}}Start your profile{{/if}}" class="btn btn-primary submit"/>
    </form>

</template>