<template name="exchangeListing">
    {{#if isRequestee}}
        {{> requesteeExchangeListing }}
    {{else}}
        {{> requesterExchangeListing }}
    {{/if}}
    <script>$('[data-toggle="tooltip"]').tooltip({container: 'body'});</script>
</template>

<template name="requesteeExchangeListing">
    <div class="exchange-action-buttons">
        {{#unless isCancelled}}
            {{#if isCompleted}}
                <form class="exchange-advance">
                    <input disabled value="{{advanceButtonCopy}}" class="btn btn-success"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="You've completed the exchange!"/>
                </form>
            {{else}}
                <form class="exchange-advance">
                    <input type="submit" value="{{advanceButtonCopy}}" class="btn btn-success"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Advance the exchange process.  Mark it 'pending' if you'd like to
                                approve the request.  Only mark it 'completed' once your items have
                                physically changed hands."/>
                </form>
                <form class="exchange-decline">
                    <input type="submit" value="decline" class="btn btn-danger"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Choose not to proceed with this exchange."/>
                </form>
            {{/if}}
        {{else}}
            <input value="{{isCancelledCopy}}" class="btn btn-danger exchange-decline" disabled
                   data-toggle="tooltip"
                   data-placement="top"
                   title="This exchange has been cancelled."/>
        {{/unless}}
    </div>
    <p class="clearfix push-down-sm"><a href="{{pathFor 'chronologicalUserPosts' username=requesterUsername}}">{{requesterUsername}}</a> asked to check out <a href="{{pathFor 'userSingleExchange' exchangeId=_id}}">{{#if isMultipleItems}}some items{{else}}an item{{/if}}</a> from you {{dateTimeAgo createdAt}}</p>
</template>

<template name="requesterExchangeListing">
    <div class="exchange-action-buttons">
        {{#unless isCancelled}}
            {{#if isCompleted}}
                <form class="exchange-advance">
                    <input disabled value="{{advanceButtonCopy}}" class="btn btn-success"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="You've completed this exchange!"/>
                </form>
            {{else}}
                <input disabled value="{{exchangeState}}" class="btn btn-success exchange-advance"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="You've made a request for some items."/>
                <form class="exchange-cancel">
                    <input type="submit" value="cancel request" class="btn btn-danger"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Cancel your request."/>
                </form>
            {{/if}}
        {{else}}
            <input value="{{isCancelledCopy}}" class="btn btn-danger" disabled
                   data-toggle="tooltip"
                   data-placement="top"
                   title="This exchange has been cancelled."/>
        {{/unless}}
    </div>
    <p class="clearfix push-down-sm">You asked to check out <a href="{{pathFor 'userSingleExchange' exchangeId=_id}}">{{#if isMultipleItems}}some items{{else}}an item{{/if}}</a> from <a href="{{pathFor 'chronologicalUserPosts' username=requesteeUsername}}">{{requesteeUsername}}</a> {{dateTimeAgo createdAt}}</p>
</template>