<template name="user_exchanges">
    {{#if currentUser }}
        <div class="col-sm-12">
            <h1>Your Exchanges</h1>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xxs-12">
                    <h2>Requested:</h2>
                    <div class="push-down">
                        {{#each requestedExchanges}}
                            <div class="clearfix">
                                {{> exchange_listing }}
                                <hr>
                            </div>
                        {{else}}
                            <p>You haven't requested any items</p>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xxs-12">
                    <h2>Pending:</h2>
                    {{#unless cursorNotEmpty pendingEx}}<p>You don't have any pending exchanges</p>{{/unless}}
                    <div class="push-down">
                        {{#each pendingEx}}
                            <div class="clearfix">
                                {{> exchangeListing }}
                                <hr>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xxs-12">
                    <h2>Completed:</h2>
                    {{#unless cursorNotEmpty completedEx}}<p>You haven't completed any exchanges</p>{{/unless}}
                    <div class="push-down">
                        {{#each completedEx}}
                            <div class="clearfix">
                                {{> exchangeListing }}
                                <hr>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xxs-12">
                    <h2>Cancelled:</h2>
                    {{#unless cursorNotEmpty allCancelledEx}}<p>You don't have any cancelled exchanges</p>{{/unless}}
                    <div class="push-down">
                        {{#each allCancelledEx}}
                            <div class="clearfix">
                                {{> exchangeListing }}
                                <hr>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{> signup_call_to_action}}
    {{/if}}
</template>