<template name="user_single_transaction">
    <p>User Single Exchange</p>
    {{#unless isExchangeMember}}
        {{> signup_call_to_action}}
    {{else}}
        <h1>Your exchange with {{#with transaction}}{{#if isRequestee}}{{requesterName}}{{else}}{{requesteeName}}{{/if}}{{/with}} </h1>
        {{#with transaction}}
            <div class="push-down">
                {{> transaction_listing }}
            </div>
        {{/with}}
        <div class="push-down">
            <p>each exchangeItems in the transaction</p>
            {{#each exchangeItems}}
                <h4>
                    <!--TODO: singleItemPage -->
                    <a href="{{pathFor 'projects.single' username=ownerName exchangeItemId=this._id}}">
                        {{this.title}}{{#if itemHasTag}} ({{this.tag}}){{/if}}
                        {{#if itemHasDescription}}| {{this.description}}{{/if}}
                    </a>
                </h4>
            {{/each}}
        </div>
        <div class="shift-down">
            {{#with transaction}}
                {{#if isRequestee}}
                    <p><a class="btn btn-default" href="{{pathFor 'chatWindow.user' username=requesterName}}">chat with {{requesterName}}</a></p>
                {{else}}
                    <p><a class="btn btn-default" href="{{pathFor 'chatWindow.user' username=requesteeName}}">chat with {{requesteeName}}</a></p>
                {{/if}}
            {{/with}}
            <p><a class="btn btn-default" href="{{pathFor 'exchanges.user'}}">back to your exchanges</a></p>
        </div>
    {{/unless}}
</template>
