<template name="transaction_listing">
    <p>Exchange Listing</p>

    {{#if isTransactionRequested}}
        {{#if isCurrentUserRequestee}}
            <p>Button to let this requestee 'approve' the request.</p>
            <p>Button to let this requestee 'decline' the request.</p>
        {{else}}
            <p>Button to let this requester 'cancel' the request.</p>
        {{/if}}
    {{else}}
        {{#if isTransactionApproved}}
            {{#if isCurrentUserRequestee}}
                <p>Button to let this requestee 'complete' the request.</p>
                <p>Button to let this requestee 'decline' the request.</p>
            {{else}}
                <p>Button to let this requester 'cancel' the request.</p>
            {{/if}}
        {{else}}
            {{#if isTransactionCompleted}}
                {{#if isCurrentUserRequestee}}
                    <p>[Disabled] notice that the current requestee has 'completed' this transaction.</p>
                {{else}}
                    <p>[Disabled] notice to the current requester that the transaction has been 'completed'.</p>
                {{/if}}
            {{else}}
                {{#if isTransactionDeclined}}
                    {{#if isCurrentUserRequestee}}
                        <p>[Disabled] notice that the current requestee has 'declined' this transaction.</p>
                    {{else}}
                        <p>[Disabled] notice to the current requester that the transaction has been 'declined'.</p>
                    {{/if}}
                {{else}}
                    {{#if isTransactionCancelled}}
                        {{#if isCurrentUserRequestee}}
                            <p>[Disabled] notice to the current requestee that the transaction has been 'cancelled'.</p>
                        {{else}}
                            <p>[Disabled] notice that the current requester has 'cancelled' this transaction.</p>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}

    <p class="clearfix push-down-sm">
        {{#if isCurrentUserRequestee}}

            <a href="{{pathFor 'chronologicalUserPosts' username=requesterName}}">
                {{requesterName}}
            </a>
            asked to check out
            <a href="{{pathFor 'exchanges.user.single' exchangeId=transactionId}}">
                {{numberOfItems}} item{{#if isMultipleItems}}s{{/if}}
            </a>
            from you
            {{dateTimeAgo createdAt}}.

        {{else}}

            You asked to check out
            <a href="{{pathFor 'exchanges.user.single' exchangeId=transactionId}}">
                {{numberOfItems}} item{{#if isMultipleItems}}s{{/if}}
            </a>
            from
            <a href="{{pathFor 'chronologicalUserPosts' username=requesteeName}}">
                {{requesteeName}}
            </a>
            {{dateTimeAgo createdAt}}.

        {{/if}}
    </p>
</template>
