<template name="transaction_card">
    <p>Transaction card</p>

    {{#if isTransactionRequested}}
        {{#if isCurrentUserRequestee}}
            <button class="btn-transaction-approve">Approve</button>
            <button class="btn-transaction-decline">Decline</button>
            (todo: tooltips)
        {{else}}
            <button class="btn-transaction-cancel">Cancel request</button>
        {{/if}}
    {{else}}
        {{#if isTransactionApproved}}
            {{#if isCurrentUserRequestee}}
                <button class="btn-transaction-complete">Complete</button>
                <button class="btn-transaction-decline">Decline</button>
            {{else}}
                <button class="btn-transaction-cancel">Cancel request</button>
            {{/if}}
        {{else}}
            {{#if isTransactionCompleted}}
                {{#if isCurrentUserRequestee}}
                    <button disabled>You have completed this exchange</button>
                {{else}}
                    <button disabled>{{requesterName}} has completed this exchange</button>
                {{/if}}
            {{else}}
                {{#if isTransactionDeclined}}
                    {{#if isCurrentUserRequestee}}
                        <button disabled>You have declined this exchange</button>
                    {{else}}
                        <button disabled>{{requesteeName}} has declined this exchange</button>
                    {{/if}}
                {{else}}
                    {{#if isTransactionCancelled}}
                        {{#if isCurrentUserRequestee}}
                            <button disabled>{{requesterName}} has canceled this exchange</button>
                        {{else}}
                            <button disabled>You have canceled this exchange</button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}

    <p class="clearfix push-down-sm">
        {{#if isCurrentUserRequestee}}

            <a href="{{pathFor 'profile.page' username=requesterName}}">
                {{requesterName}}
            </a>
            asked to check out
            <a href="{{pathFor 'exchanges.user.single' username=currentUsername exchangeId=transactionId}}">
                {{numberOfItems}} item{{#if isMultipleItems}}s{{/if}}
            </a>
            from you
            {{dateTimeAgo createdAt}}.

        {{else}}

            You asked to check out
            <a href="{{pathFor 'exchanges.user.single' username=currentUsername exchangeId=transactionId}}">
                {{numberOfItems}} item{{#if isMultipleItems}}s{{/if}}
            </a>
            from
            <a href="{{pathFor 'profile.page' username=requesteeName}}">
                {{requesteeName}}
            </a>
            {{dateTimeAgo createdAt}}.

        {{/if}}
    </p>
</template>
