<template name="transactions_info_card">
    <div class="row column push-down">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">What do these buttons do?</a>
                <div class="accordion-content" data-tab-content>
                    <p><strong>Approve</strong></p>
                    <p>Click this to let the person who requested your project know that you're prepared to exchange it with them.  Be sure to message them first, so that you can work out the details of exchanging it.</p>
                    <hr>

                    <p><strong>Complete</strong></p>
                    <p>Click this to complete the exchange.  You should have already exchanged your project in-person with the person who requested it.  Clicking this button will transfer ownership of the project over to the new requester, and you will no longer have control over it.</p>
                    <hr>

                    <p><strong>Decline</strong></p>
                    <p>Click this to decline someone's request for your project.  Be sure to send the person who requested it a message to let them know why!</p>
                    <hr>

                    <p><strong>Cancel</strong></p>
                    <p>Click this to cancel your request.  Be sure to message the project's owner to let them know why!</p>
                    <hr>

                    <p><a href="{{pathFor 'static.howto'}}">Click here</a> for more info.</p>
                </div>
            </li>
        </ul>
    </div>
</template>