<template name="user_transactions">
    <div class="row">
        <div class="small-12 medium-10 large-10 medium-centered large-centered column">
            {{#if currentUser}}

                <div class="row column push-down">
                    <div class="column">
                        <a class="button-go-back" href="{{pathFor 'profile.page' username=pageUsername}}">
                            back to your profile
                        </a>
                        <h2 class="">Your project exchanges</h2>
                    </div>
                </div>

                <div class="row column">
                    <div class="column small-12 medium-6 large-6">
                        <h2 class="push-down">Requested:</h2>
                        <div class="push-down">
                            {{#each requestedExchanges}}
                                <div class="clearfix">
                                    {{> transaction_card }}
                                    <hr>
                                </div>
                            {{else}}
                                <p>You haven't requested any projects.</p>
                            {{/each}}
                        </div>
                    </div>
                    <div class="column small-12 medium-6 large-6">
                        <h2 class="push-down">Pending:</h2>
                        <div class="push-down">
                            {{#each pendingExchanges}}
                                <div class="clearfix">
                                    {{> transaction_card }}
                                    <hr>
                                </div>
                            {{else}}
                                <p>You don't have any pending project exchanges.</p>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row column">
                    <div class="column small-12 medium-6 large-6">
                        <h2 class="push-down">Completed:</h2>
                        <div class="push-down">
                            {{#each completedExchanges}}
                                <div class="clearfix">
                                    {{> transaction_card }}
                                    <hr>
                                </div>
                            {{else}}
                                <p>You haven't completed any project exchanges.</p>
                            {{/each}}
                        </div>
                    </div>
                    <div class="column small-12 medium-6 large-6">
                        <h2 class="push-down">Stopped:</h2>
                        <div class="push-down">
                            {{#each terminatedExchanges}}
                                <div class="clearfix">
                                    {{> transaction_card }}
                                    <hr>
                                </div>
                            {{else}}
                                <p>You haven't declined or cancelled any project exchanges.</p>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{else}}
                {{> signup_call_to_action}}
            {{/if}}
        </div>
    </div>
</template>