<template name="make_project_names_list">
    <ul class="unstyled-list">
        {{#each name in allMakeProjectNames}}
            <li class="padded-top padded-bottom">
                <a href="{{pathFor 'makeProjects.singleProject' makeProjectName=name}}"
                   class="">
                    <strong>{{name}}</strong>
                </a>
            </li>
        {{else}}
            <li class="padded">
                There are no projects currently available.
            </li>
        {{/each}}
    </ul>
</template>