<template name="chat_window_card">

    <div class="row push-down-xxlarge">
        <div class="column small-12 medium-10 large-8 medium-centered large-centered">
            {{#if currentUser}}

                {{#unless currentChatSession}}

                    {{#if isOwnPageUsername}}
                        {{> App_notAuthorized}}
                    {{else}}
                        <p class="pull-down-xxxlarge push-down-xxxlarge">
                            You don't have a chat started with {{otherUsername}}.<br>
                            <a href="{{pathFor 'profile.page' username=otherUsername}}">Request some items from them!</a>
                        </p>
                    {{/if}}

                {{else}}

                    <div class="row column pull-down-small" id="chat-window-title">
                        <h3>Messages with {{otherUsername}}<hr></h3>
                    </div>


                    <div id="chat-window-messages-scrollable-wrap">
                        <div class="push-down" id="chat-window-messages-scrollable">
                            <div class="has-new-messages-indicator">
                                <!--{{{hasNewChatMessagesIcon}}}-->
                                <i class="fi-arrow-down"></i>
                            </div>

                            {{#if hasMoreChatMessages}}
                                <p class="padded text-centered"><a class="js-load-more-chat-messages button secondary">Load more messages</a></p>
                            {{/if}}

                            {{#each reversed chatMessages}}
                                <div class="row column push-down">
                                    {{> chat_message_card}}
                                </div>

                            {{else}}
                                <div class="text-centered pull-down-xlarge push-down-xlarge">
                                    <p>Send a message to {{otherUsername}} to start your conversation.</p>
                                </div>
                            {{/each}}
                        </div>
                    </div>


                    <div id="chat-message-submit-wrap-outer" class="push-down">
                        <div class="chat-message-submit-wrap-inner">
                            <hr>
                            {{> chat_message_submit}}
                            <div class="pull-left push-left push-down push-right">
                                <p><a href="{{pathFor 'profile.page' username=otherUsername}}">{{otherUsername}}'s profile</a></p>
                                <p><a href="{{pathFor 'exchanges.user' username=yourUsername}}">Your exchanges</a></p>
                            </div>
                        </div>
                    </div>

                {{/unless}}

            {{else}}
                {{> signup_call_to_action}}
            {{/if}}
        </div>
    </div>

</template>