<template name="chat_message_card">

    <div class="chat-message shift-down chat-message-{{senderClass}}">

        {{#if equals senderClass "mine"}}
            <a class="button alert small float-right chat-message-delete" href="#"><i class="fi-x"></i></a>
        {{/if}}

        <p>
            <a href="{{pathFor 'profile.page' username=senderUserName}}">
                {{senderUserName}}
            </a>
        </p>

        {{#if imageLink}}
            <p>Image Link: {{imageLink}}</p>  <!-- TODO: c.url imageLinks -->
        {{/if}}

        <h4 class="push-down-sm">{{text}}</h4>

        <p class="push-down-sm">sent on {{timeToMinutes createdAt}}</p>

    </div>

</template>
