<template name="chatWindow">
    {{#if isChatSession}}
        {{> existingChatWindow }}
    {{else}}
        <p>
            You don't have a chat started with {{usernamePath}}.
            <a href="{{pathFor 'userInventoryPage' username=usernamePath}}">Request some items from them!</a>
        </p>
    {{/if}}
</template>

<template name="existingChatWindow">
    <div class="sticky-headline-wrap">
        <h2 id="sticky-headline">Messages with {{otherName}}<hr></h2>
    </div>
    {{#if equals chatMessagesCount 0}}
        <p>
            {{#unless equals chatSession.firstUsername yourName}}
                You have asked {{chatSession.firstUsername}} to check out some items.  Use this chat window to discuss further details with {{chatSession.firstUsername}}.
            {{else}}
                {{chatSession.secondUsername}} has asked to check out some items from you.  Go to your <a href="{{pathFor 'myAccount'}}">account page</a> to view your pending exchanges, and use this chat window to discuss further details with {{chatSession.secondUsername}}.
            {{/unless}}
        </p>
    {{/if}}

    {{#if nextPath}}
        <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
        {{#unless ready}}
            {{> spinner}}
        {{/unless}}
    {{/if}}

    <div class="push-down">
        {{#each chatMessagesReversed}}
            {{> chatMessage }}
        {{/each}}
    </div>

    <div class="chat-message-submit-wrap push-down" id="chat-message-submit-wrap">
        <hr>
        {{> chatMessageSubmit }}
        <div class="pull-left push-left push-down push-right">
            <p><a href="{{pathFor 'chronologicalUserPosts' username=otherName}}">{{otherName}}'s profile</a></p>
            <p><a href="{{pathFor 'userInventoryPage' username=otherName}}">Check out {{otherName}}'s items</a></p>
            <p><a href="{{pathFor 'userExchanges'}}">See your exchanges</a></p>
        </div>
    </div>

    <script>
        var navHeight = $('.navbar').height();
        $('.sticky-headline-wrap').css('min-height', navHeight);
        $('#sticky-headline').affix({
            offset: {
                top: navHeight
            }
        });
    </script>
</template>

<template name="chatMessage">
    <div class="chat-message shift-down chat-message-{{senderClass}}">
        {{#if equals senderClass "mine"}}<form><a class="btn-xs btn-danger pull-right chat-message-delete" href="#">X</a></form>{{/if}}
        <p><a href="{{pathFor 'chronologicalUserPosts' username=senderUsername}}">{{senderUsername}}</a></p>
        {{#if imageLink}}
            <p>Image Link: {{imageLink}}</p>
        {{/if}}
        <h4 class="push-down-sm">{{text}}</h4>
        <p class="push-down-sm">sent on {{timeToMinutes createdAt}}</p>
    </div>
</template>

<template name="chatMessageSubmit">
    <form name="chatMessage" class="chat-message-form form main pull-left">
        <div class="form-group {{errorClass 'text'}}">
            <div class="controls">
                <textarea name="text" class="form-control" placeholder="Send a message" rows="3" maxlength="1000"></textarea>
                <span class="help-block">{{errorMessage 'text'}}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Send message</button>
    </form>
</template>